@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Extra-Bold";
    src: url(../fonts/Roboto.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Light-Italic";
    src: url(../fonts/Roboto-Italic.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
}

* {
    font-family: "Roboto", sans-serif;
}

.main_txt {
    font-family: "Roboto-Extra-Bold", sans-serif;
    font-size: 3rem;
}

.secondary_txt {
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
}

.info_txt {
    font-size: 2.25rem;
    font-family: "Roboto-Extra-Bold", sans-serif;
}

.quote_txt {
    font-family: "Roboto-Light-Italic", sans-serif;
    font-size: 2.25rem;
}

.header_logo {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
}