* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration-line: none;
}

header {
    padding: 2rem 0;
}

header>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top_nav_list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

header a, footer a{
    color:inherit;
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.secondary-content {
    max-width: 850px;
    margin: 0 auto;
    padding: 0 2rem;
}

main {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

ol {
    list-style: none;
}

.section_one>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section_one img {
    max-height: 100%;
    max-width: 500px;
}

.section_two {}

.section_two article {
    max-height: 75%;
}

.section_two menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px 10px;
}

.section_two h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

menu img,
figcaption {
    max-width: 170px;
    text-align: center;
    color:inherit;
}

menu img {
    border: 5px solid;
    border-radius: 10%;
    
}

menu *{
    border-color: inherit;
}

.section_three {}

.section_three article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.author {
    text-align: right;
}

.section_four {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer {
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cta-container {
    flex: 1 1 0px;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.sign-up {
    border: 2px solid;
    border-radius: 0.5rem;
    font-size: 1.125rem;
    cursor: pointer;
    min-width: 8rem;
    min-height: 2rem;
}

/* Debug */
/*
section {
    border: 1px solid black;
}

div {
    border: 1px solid black;
}
*/